.home_banner_bg_1 {
  @include background("../img/Banner/banner.jpg", center center, no-repeat);
}
.banner_one {
}
.home_banner_single {
  display: flex;
  align-items: center;
  padding: 225px 0 225px 0;
  @media #{$tab} {
    padding: 113px 0 150px 0;
  }
  .banner__text {
    max-width: 550px;
    span {
      color: $secondary_color;
      display: block;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 60px;
      font-weight: 700;
      line-height: 1.17;
      margin-bottom: 13px;
      color: $white;
      @media #{$tab} {
        font-size: 35px;
      }
    }
    p {
      margin: 0 0 46px 0;
    }
  }
}
