.home22_blog_Widget {
  .thumb {
    overflow: hidden;
    display: block;
    img {
      transition: 0.3s;
      transform: scale(1);
    }
  }
  .blog_content {
    span {
      font-size: 14px;
      font-weight: 500;
      color: $body_text;
      display: block;
      margin: 30px 0 16px 0;
    }
    h4 {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
      transition: 0.3s;
      color: $primary_color;
      max-width: 325px;
      margin-bottom: 26px;
      &:hover {
        color: $secondary_color;
      }
    }
  }
  &:hover {
    .thumb {
      img {
        transform: scale(1.1);
      }
    }
  }
}
.home17_ReturnsShop_area {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 80px 0 44px 0;
  margin-bottom: 71px;
  @media #{$tab} {
    padding: 60px 0 30px 0;
    margin-bottom: 60px;
  }
}
.home17_info_box {
  .icon {
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
    color: $primary_color;
    margin: 19px 0 11px 0;
  }
  p {
    font-size: 16px;
    line-height: 1.63;
    color: $primary_color;
    font-weight: 400;
    max-width: 270px;
    margin: 0 auto;
  }
}

// testmonial
.testmonial_area_two {
  position: relative;
  padding: 92px 0 100px 0;
  @media #{$tab} {
    padding: 75px 0 80px 0;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #f1feff;
    z-index: -1;
  }
  .single_testmonial {
    border: 1px solid #ededed;
    background: #fff;
    padding: 50px 50px 49px 50px;
    border-radius: 10px;
    @media #{$tab} {
      padding: 35px;
    }
    p {
      font-size: 18px;
      line-height: 1.56;
      color: #202e3b;
      font-family: $font1;
      font-weight: 700;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 18px;
      color: $secondary_color;
      font-weight: 700;
      font-family: $font2;
      margin-bottom: 8px;
    }
    .stars {
      i {
        color: #ffc107;
        font-size: 15px;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}
