.primary_input {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 10px 20px;
  width: 100%;
  &::placeholder {
    font-size: 14px;
    color: #8e8e8e;
    text-transform: capitalize;
  }
}
.primary_input3 {
  height: 50px;
  border: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  box-shadow: none !important;
  &.border_style2 {
    border: 1px solid #e1e2e6;
  }
  &::placeholder {
    color: $body_color;
  }
}
.primary_input4 {
  height: 50px;
  border: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  background: transparent;
  &::placeholder {
    color: #676e8b;
  }
}
.primary_input2 {
  height: 60px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 16px;
  font-weight: 300;
  color: $primary_color;
  padding: 0px 25px 25px 0;
  width: 100%;
  &::placeholder {
    font-size: 16px;
    color: #677294;
    text-transform: capitalize;
  }
}

.custom_input_group {
  height: 50px;
  .input-group-prepend {
    .input-group-text {
      min-width: 242px;
      max-width: 242px;
      background: #395799;
      border: 0;
      border-radius: 0;
      padding-left: 30px;
      padding-right: 24px;
      @media #{$tab} {
        min-width: 40px;
        max-width: 40px;
        flex: 40px 0 0;
        padding-left: 20px;
        padding-right: 35px;
        width: 40px;
      }
      &.twitter_bg {
        background: #1babf0;
      }
      &.linkedin_bg {
        background: #dd5143;
      }
      &.youtube_bg {
        background: #ff0000;
      }
      i {
        font-size: 16px;
        color: #fff;
        margin-right: 14px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        font-family: $font2;
        color: #fff;
        @media #{$tab} {
          display: none;
        }
      }
    }
  }
  input {
    height: 50px;
    border: 1px solid #ebebeb !important;
    font-family: $font2;
    font-size: 14px;
    font-weight: 400;
    color: $primary_color;
    padding: 15px 20px;
    background: transparent !important ;
    box-shadow: none !important;
    border-radius: 0 !important;
    &::placeholder {
      color: #676e8b;
    }
  }
}
.primary_textarea {
  height: 150px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  &::placeholder {
    font-size: 14px;
    color: #8e8e8e;
    text-transform: capitalize;
  }
}
.primary_textarea3 {
  height: 160px;
  border: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #686868;
  }
}
.primary_textarea4 {
  height: 120px;
  border: 1px solid #ebebeb;
  font-family: $font2;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #686868;
  }
}
.primary_label {
  font-size: 14px;
  font-weight: 500;
  color: $primary_color;
  display: block;
  margin-bottom: 10px;
  line-height: 1;
}
.primary_label2 {
  font-family: $font2;
  font-size: 14px;
  font-weight: 700;
  color: $primary_color;
  display: block;
  margin-bottom: 14px;
  line-height: 1;
  text-transform: capitalize;
  span {
    color: #ff1919;
  }
}
.primary_textarea2 {
  height: 130px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid #f0e7e2;
  font-family: $font2;
  font-size: 16px;
  font-weight: 300;
  color: $primary_color;
  padding: 3px 25px 0 0;
  width: 100%;
  &::placeholder {
    font-size: 14px;
    color: #677294;
    text-transform: capitalize;
  }
}

.primary_line_input {
  height: 50px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid rgba(104, 112, 131, 0.2);
  font-family: $font2;
  font-size: 14px;
  font-weight: 500;
  color: $primary_color;
  padding: 10px 0px;
  width: 100%;
  box-shadow: none !important;
  &.style2 {
    font-weight: 400;
    border-color: #f1f1f1;
    &::placeholder {
      font-size: 14px;
      color: #373737;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  &.style3 {
    font-weight: 400;
    color: $primary_color;
    font-weight: 500;
    &::placeholder {
      font-size: 14px;
      color: #9d9d9d;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  &::placeholder {
    font-size: 14px;
    color: #afafaf;
    text-transform: capitalize;
    font-weight: 500;
  }
}
