footer.home_footer {
  background: $black;
  .footer_top_area {
    padding-top: 50px;
    padding-bottom: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .main_footer_wrap {
    padding-top: 97px;
    padding-bottom: 59px;
    @media #{$tab} {
      padding-top: 69px;
      padding-bottom: 45px;
    }
    .footer_widget {
      margin-bottom: 30px;
      .footer_logo {
        margin-bottom: 10px;
      }
      .footer_title {
        h3 {
          font-family: $font2;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 10px;
          text-transform: uppercase;
          color: $white;
        }
      }
      .footer_links {
        li {
          a {
            font-size: 16px;
            font-weight: 400;
            color: $white;
            font-family: $font2;
            line-height: 1.88;
            &:hover {
              color: $secondary_color;
            }
          }
        }
      }
      .address_list {
        max-width: 270px;
        p {
          font-size: 14px;
          color: #656565;
          margin-bottom: 0;
          line-height: 1.86;
          font-weight: 500;
          margin-bottom: 15px;
          &:not(:last-child) {
            margin-bottom: 0;
          }
          span {
            font-weight: 700;
          }
        }
      }
      .large_address {
        font-size: 40px;
        font-weight: 700;
        color: $white;
        margin-bottom: 1px;
        display: flex;
        align-items: flex-start;
        line-height: 0.75;
        @media #{$tab} {
          font-size: 30px;
        }
        span {
          font-size: 20px;
          font-weight: 500;
          margin-right: 5px;
          display: inline-block;
        }
      }
      .footer_opening_time {
        margin: 15px 0 12px 0;
        padding-bottom: 14px;
        border-bottom: 1px solid #151515;
        p {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.77;
          color: $body_text;
          text-transform: uppercase;
        }
      }
      .help_text {
        p {
          font-size: 16px;
          font-weight: 500;
          color: $white;
          a {
            color: #c96e15;
          }
        }
      }
      .address_text {
        font-size: 16px;
        font-weight: 400;
        font-family: $font2;
        color: $body_text;
        margin-bottom: 19px;
        line-height: 1.63;
        max-width: 240px;
      }
      .social__Links {
        a {
          color: #808080;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
  }
  .copyright_area {
    padding-bottom: 28px;
    .footer_border {
      border-top: 1px solid #151515;
      margin-bottom: 23px;
    }
    .copy_right_text {
      margin-bottom: 30px;
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: #666666;
        font-weight: 500;
        font-family: $font2;
        text-transform: capitalize;
        a {
          color: $secondary_color;
        }
      }
    }
    .payment_imgs {
      text-align: right;
      margin-bottom: 30px;
      img {
        @media #{$small_mobile} {
          width: 100%;
        }
        @media #{$tab2} {
          width: 100%;
        }
      }

      @media #{$tab} {
        text-align: left;
      }
    }
  }
}
