.home9_blog_Widget {
  position: relative;
  .thumb {
    overflow: hidden;
    display: block;
    margin-bottom: 28px;
    img {
      width: 100%;
      transition: 0.3s;
      transform: scale(1);
    }
  }
  .blog_content {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: start;
    align-items: start;
    .date_text {
      position: absolute;
      left: 0;
      top: 0;
      writing-mode: vertical-rl;
      background: #ffffff;
      width: 50px;
      font-size: 14px;
      text-transform: uppercase;
      color: $body_color;
      font-weight: 400;
      padding: 20px 0;
      display: flex;
      align-items: center;
      transform: rotate(180deg);
      top: -1px;
    }
    h4 {
      font-size: 22px;
      font-weight: 700;
      transition: 0.3s;
      color: $primary_color;
      line-height: 1.45;
      max-width: 385px;
      font-family: $font2;
      text-transform: capitalize;
      margin-bottom: 0;
      @media #{$tab} {
        font-size: 20px;
      }
      &:hover {
        color: $secondary_color;
      }
    }
  }
  &:hover {
    .thumb {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f3f3f3;
  a {
    font-size: 20px;
    text-transform: capitalize;
    color: $primary_color;
    padding: 10px;
    display: block;
    &:hover {
      color: $secondary_color;
    }
  }
}
