.home10_processing_wrapper {
  .processing_box {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
  }
  .row .col-xl-3:not(:last-child) .single_processing {
    @media #{$tab} {
      padding-bottom: 10px;
    }
  }
  &.style2 {
    padding: 59px 0 57px 0;
    @media #{$tab} {
      padding: 0;
    }
  }
  .single_processing {
    display: flex;
    align-items: center;
    padding: 80px 20px 79px 20px;
    @media #{$tab} {
      padding: 38px 20px 39px 20px;
    }
    @media #{$lg_device} {
      padding: 40px 20px 40px 20px;
    }
    .icon {
      margin-right: 20px;
    }
    .processign_content {
      h4 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
        line-height: 1;
        font-family: $font1;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: $body_color;
        margin-bottom: 0;
        font-family: $font2;
      }
    }
  }
}

// brand
.amazBrand_boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  background: #f1ece8;
  border: 1px solid #f1ece8;
  @media #{$small_mobile } {
    grid-template-columns: repeat(2, 1fr);
  }
  @media #{$large_mobile } {
    grid-template-columns: repeat(3, 1fr);
  }
  @media #{$medium_device } {
    grid-template-columns: repeat(4, 1fr);
  }
  .single_brand {
    text-align: center;
    background: $white;
    img {
      max-width: 100%;
    }
  }
}
